/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.movie-details {
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1f1f1f;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 180px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #2d2d2d;
}

.hidden {
    display: none;
}

.dropdown-icon.active {
    color: yellow;
}

.left-box {
    color: #fff;
}

.left-box h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.left-box p {
    margin-bottom: 10px;
}

.left-box .btn {
    text-decoration: none !important;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.movie-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: -4px 4px 5px 0 #000;
}

.subtitle {
    font-weight: bold;
    color: #ded637;
    font-size: 1.3em;
    font-family: 'Georgia', serif;
}



