    *{
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    body{
        font-family: 'Roboto, sans-serif';
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 50px;
        min-height: 100vh;
    }



    .sidebar{
        width: 50px;
        height:100%;
        background-color:black;
        position:fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;

        
    }

    .left-menu-icon{
        color: lemonchiffon;
        font-size: 20px;
        margin-bottom: 40px;

    }

    .container{
        background-color:#151515;
        min-height: calc(100vh - 50px);
        color: white;
    }

    .content-container {
        position: relative;
        z-index: 1;
        padding: 20px;
        margin-left: 50px;
    }

    .featured-content{
        height: 50vh;
        padding: 50px;  
    }

    .featured-title{
        width:400px;
    }

    .featured-desc{
        width:500px;
        color: lightgray;
        margin:30px 0;
        text-align: justify;
        font-size: large;
        margin-left: 30px;

    }


    .movie-list-container {
        padding: 0 20px;
        font-family: sans-serif;
      }
      
      .movie-list-wrapper {
        position: relative;
        overflow: hidden;
      }

      .movie-list-title{
        font-family: sans-serif;
       
      }
      
      .movie-list {
        display: flex;
        align-items: center;
        height: 300px;
        transform: translateX(0);
        transition: all 1s ease-in-out; 
        margin-left: -38px;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        cursor: grab;
    }
      
      .movie-list-item {
        margin-right: 30px;
        position: relative;
      }
      .movie-list-item:hover .movie-list-item-img {
        transform: scale(1.2);
        margin: 0 30px;
        opacity: 0.5;
      }
      
      .movie-list-item:hover .movie-list-item-title,
      .movie-list-item:hover .movie-list-item-desc,
      .movie-list-item:hover .movie-list-item-button {
        opacity: 1;
      }
      
      .movie-list-item-img {
        transition: all 1s ease-in-out;
        width: 270px;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
      }
      
      .movie-list-item-title {
        background-color: transparent;
        padding: 0 10px;
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
        color: white;
    
      }
      
      .movie-list-item-desc {
        background-color: transparent;
        padding: 10px;
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 50px;
        width: 230px;
        opacity: 0;
        transition: 1s all ease-in-out;
        text-align:justify;
        
      }
      
      .movie-list-item-button {
        padding: 10px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
        font-size: medium;
      }

      .arrow{
        font-size: 120px;
        position: absolute;
        top: 90px;
        right: 0;
        color: lightgray;
        opacity: 0.5;
        cursor: pointer;
      }
      
      .container.active {
        background-color: white;
      }
      
      .movie-list-title.active {
        color: darkblue;
      }
    
      
      .sidebar.active{
          background-color: white;
          color: darkblue;
      }

      .movie-list-item-title.active{
        color: darkblue;
      }
      
      .left-menu-icon.active{
          color: darkblue;

      }
      
      .toggle.active{
          background-color: black;
      }
      
      .toggle-ball.active{
          background-color: white;
          transform: translateX(-20px);
      }
      .movie-list-item-desc.active{
        color: darkblue;
      }
     
    
    
      
      
      @media only screen and (max-width: 940px){
          .menu-container{
              display: none;
          }
      }

      footer{
        background-color: #111;
    }
    .footerContainer{
        width: 100%;
        padding: 70px 30px 20px ;
    }
    .socialIcons{
        display: flex;
        justify-content: center;
    }
    .socialIcons a{
        text-decoration: none;
        padding:  10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    .socialIcons a i{
        font-size: 2em;
        color: black;
        opacity: 0,9;
    }
    /* Hover affect on social media icon */
    .socialIcons a:hover{
        background-color: #111;
        transition: 0.5s;
    }
    .socialIcons a:hover i{
        color: white;
        transition: 0.5s;
    }
    .footerNav{
        margin: 30px 0;
    }
    .footerNav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    .footerNav ul li a{
        color:white;
        margin: 20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
    
    }
    .footerNav ul li a:hover{
        opacity: 1;
    }
    .footerBottom{
        background-color: #000;
        padding: 20px;
        text-align: center;
    }
    .footerBottom p{
        color: white;
    }
    .designer{
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    }
    @media (max-width: 700px){
        .footerNav ul{
            flex-direction: column;
        } 
        .footerNav ul li{
            width:100%;
            text-align: center;
            margin: 10px;
        }
        .socialIcons a{
            padding: 8px;
            margin: 4px;
        }
    }

    .movie-list::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }

    .movie-list:active {
        cursor: grabbing;
    }
