*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-family: 'Pacifico', cursive; 
    font-size: 48px; 
    color: deepskyblue; 
}

.back-home a {
    font-size: 18px;
    color:deepskyblue; 
    text-decoration: none;
    transition: color 0.3s;
}

.back-home a:hover {
    color: #3498db; 
}

.search-page {
    padding: 20px;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px; 
}

.search-bar {
    width: 80%;
    max-width: 600px; 
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    outline: none;
}

.search-button {
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    background-color: #3498db; 
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #2980b9; 
}

@media (max-width: 768px) {
    .search-bar, .search-button {
        width: 90%;
        font-size: 16px;
    }

    .logo {
        font-size: 36px;
    }
}