@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astralaga&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 50px;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #211f30;
}

.about-container {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
  background-color: #211f30;
  overflow:hidden;
}

.heading h1{
  color:yellow;
  font-size:40px;
  text-align:center;
  margin-top:35px;
}

.container{
  display:flex;
  justify-content:center;
  width: 90%;
  align-items:center;
  margin:60px auto;
  background-color: #e9dfab; 
  opacity: 1; 
  min-height: 100vh;
  border-radius: 15px;
}

.hero-content{
  flex:1;
  width: 600px;
  margin:0px 50px;
  animation:fadeInUp 2s ease;
  
}

.hero-content h2 {
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
  font-size: 58px; 
  margin-bottom: 20px;
  color: #000000;  
}

.hero-content p {
  font-size: 18px;  
  line-height: 1.80;
  margin-bottom: 50px;
  color: #000000;  
}

.hero-content button{
  display:inlin-block;
  background-color:deepskyblue;
  color:#ffffff;
  padding:12px 24px;
  border-radius:5px;
  font-size:20px;
  border:none;
  cursor:pointer;
  transition:0.3s ease;
}

.hero-content button:hover{
  background-color:rgba(241, 137, 78, 0.822) ;
  transform:scale(1.1);

}
.hero-image{
  flex:1;
  width:600px;
  margin:auto;
  animation:fadeInRight 2s ease ;
}

img{
  width: 100%;
  height:auto;
  border-radius:10px;
}

@media screen and (max-width:768px){
  .heading h1{
    font-size:45px;
    margin-top:30px;
  }
  .hero{
    margin:0px;
  }
  .container{
    width:100px;
    flex-direction:column;
    margin:0px;
    padding:0px 40px;
  }
  .hero-content{
    width:100px;
    margin:35px 0px;
    flex:1;
    animation:fadeInRight 2s ease ;
  }
  .hero-content h2{
    font-size: 30px; 
  }
  .hero-content p {
    font-size: 10px;
    margin-bottom:20px;
  }
  .hero-content button{
    font-size:16px;
    padding:8px 16px;
  }
  .hero-image{
    width:100%;

  }
}

@keyframes fadeInUp{
  0%{
    opacity:0;
    transform:translateY(50px);
  }
  100%{
    opacity:1;
    transform:translateY(0px);
  }
}

@keyframes fadeInRight{
  0%{
    opacity:0;
    transform:translateX(-50px);
  }
  100%{
    opacity:1;
    transform:translateX(0px);
  }
}

.body{
  background-color: #000000;
  background-size: cover;
}

.hero.active {
  background-color: white;
}

.hero-content h2.active, .hero-content p.active {
  color: #000000;
}

.content-container {
    position: relative;
    z-index: 1;
    padding: 20px;
}



