*{
    margin: 0;

}

body{
    font-family: 'Roboto, sans-serif';
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 
}

.search-bar {
    width: 80%;
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    outline: none;
}

.search-button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .search-bar, .search-button {
        width: 90%;
        font-size: 16px;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .search-button {
        margin-top: 10px;
        width: 60%;
    }
}
.container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  
  .left-menu-icon.active{
      color: black;
  }
  
  
  
  .search-button.active{
 background-color: lightskyblue;
 color: black;

  }